<div>
    <h2 id="page-heading">
        <span jhiTranslate="covidlitApp.hospital.home.title">Hospitals</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-hospital" [routerLink]="['/hospital/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="covidlitApp.hospital.home.createLabel">
            Create a new Hospital
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="hospitals?.length === 0">
        <span jhiTranslate="covidlitApp.hospital.home.notFound">No hospitals found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="hospitals?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="covidlitApp.hospital.name">Name</span></th>
                    <th scope="col" ><span jhiTranslate="covidlitApp.hospital.streetAddress">Street Address</span></th>
                    <th scope="col" ><span jhiTranslate="covidlitApp.hospital.city">City</span></th>
                    <th scope="col" ><span jhiTranslate="covidlitApp.hospital.headOfSearvice">Head Of Searvice</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let hospital of hospitals ;trackBy: trackId">
                    <td><a [routerLink]="['/hospital', hospital.id, 'view']">{{ hospital.id }}</a></td>
                    <td>{{ hospital.name }}</td>
                    <td>{{ hospital.streetAddress }}</td>
                    <td>{{ hospital.city }}</td>
                    <td>
                        {{ hospital.headOfSearvice?.id }}
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/hospital', hospital.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/hospital', hospital.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(hospital)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
