<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="hospital">
            <h2><span jhiTranslate="covidlitApp.hospital.detail.title">Hospital</span> {{ hospital.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="covidlitApp.hospital.name">Name</span></dt>
                <dd>
                    <span>{{ hospital.name }}</span>
                </dd>
                <dt><span jhiTranslate="covidlitApp.hospital.streetAddress">Street Address</span></dt>
                <dd>
                    <span>{{ hospital.streetAddress }}</span>
                </dd>
                <dt><span jhiTranslate="covidlitApp.hospital.city">City</span></dt>
                <dd>
                    <span>{{ hospital.city }}</span>
                </dd>
                <dt><span jhiTranslate="covidlitApp.hospital.headOfSearvice">Head Of Searvice</span></dt>
                <dd>
                    {{ hospital.headOfSearvice?.id }}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/hospital', hospital.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
